worker_processes ${{NGINX_WORKER_PROCESSES}};
daemon ${{NGINX_DAEMON}};

pid pids/nginx.pid;
error_log ${{PROXY_ERROR_LOG}} ${{LOG_LEVEL}};

worker_rlimit_nofile ${{WORKER_RLIMIT}};

events {
    worker_connections ${{WORKER_CONNECTIONS}};
    multi_accept on;
}

env KONG_DD_HOST;

http {
    include 'nginx-kong.conf';
}
